*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/* khôi phục cớ chữ theo rem */
body{
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
:root{
    --header-background: #10375C;
    --header-color: #2E80CE;
}
.header{
    display: flex;
    background-color: var(--header-background);
    /* min-height: 100vh; */
    height: 600px
}
.container{
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}
.header-top{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.header-top .logo{
    margin-left: 25px;
}
.navbar{
    margin-left: 50px;
}
.navbar__list{
   display: flex;
   gap: 50px;
}
.navbar__item .navbar__link{
    color: #C9D2DA;
}
a{
    text-decoration: none;
}
.navbar__linkk{
    text-shadow: 2px 0 0 currentColor;
    color: #FFFFFF;
}
.navbar__linkk-active::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin-right: 3px;
}
.navbar__link:hover{
    color: black;
    transition: 0.2s;
    
}
.action__btn{
    margin-left: 20px;
    color: #FFFFFF;
    opacity: 0px;
    background-color:#2E80CE;
    padding: 10px 15px;
    border-radius: 60px;
}
.cta__action{
    margin-right: 20px;
}
.btn.action__btn:hover{
    background-color: black;
}
.action__btnone{
    color: #C9D2DA;
    align-items: center;
}
.action__btnone:hover{
    color: red;
}
.header-bottom .container{
    display: flex;
}
.header-bottom{
    display: flex;
    margin-top: 20px;
}
.header-bottom, .container{
   justify-content: space-between;
}
.header-bottom__left{
    margin-top: 50px;
}
.item__chinh{
    font-size: 50px;
    color: #FFFFFF;
}
.item__phu{
    font-size: 15px;
    color: #C9D2DA;
    margin-top: 20px;
    width: 400px;
}
.bottom{
    display: flex;
    margin-top: 50px;
    gap: 100px;
}
.header-bottom__right{
margin-top: 50px;
}
.bootomone{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 10px;
    height: 20px;
    padding: 18px;
    margin-top: 2px;
    background-color: #2E80CE;
    border-radius: 40px;
}
.bootomone:hover{
    background-color: black;
}
.bottom__two{
   align-items: center;
   width: 250px;
   height: 30px;
   top: 185px;
   left: -343px;
   font-size: 18px;
   align-items: center;
}
.bottom__two .bottom__twoa{
    color: #FFFFFF;
    align-items: center;
}
.image .img{
    height: 300px;
    min-height: 420px;
}
/* code main content */
.main{
    padding: 100px;
}
.main__services, .main__desc{
    display: flex;
    justify-content: center;
}
.main__services{
    font-family: Sora;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;
}
.main__desc{
    width: 450px;
    display: flex;
    margin: 20px auto 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}
.main__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__content--right{
    margin: 80px 100px 0 0;
    border: 4px solid gray;
    border-radius: 20px;
}
.main__content--figure{
    margin-top: 80px;
}
.main__content--figure .img{
    width: 570px;
    height: 570px;
    top: 1178px;
    left: 135px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    object-fit: cover;
    margin-left: 60px;

}
.content__list{
    display: flex;
    padding: 20px;
}
.content__list:hover{
    cursor: pointer;
    box-shadow: 0px 14px 28px 0px #0000000D;
    position: relative;
    border-radius: 20px;
}
.content__list:hover .img{
    background-color: blue;
    color: #FFFFFF;
    transition: 0.5s;
}
.content__list--figure .img{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #EFF6FD;
    padding:12px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
    transition: 0.5s;
}
.content__item{
    font-family: Sora;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.68px;
    text-align: left;
}
.content__item--p{
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    width: 320px;
}
.content__right--bottom{
    display: flex;
    font-family: Sora;
    color:#FFFFFF;
    text-align: center;
    padding: 30px 30px;
    background-color: var(--header-color);
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.25s;
}
.content__right--bottom:hover{
    background-color: rgb(178, 117, 189);
    transition: 0.25s;
}
.work{
    background-color: #F6FBFF;
    height: 650px;
}
.work .container{
    margin-top: 80px;
    padding: 60px;
}
.work__content--list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.work__content--item{
    border:8px solid #EAF6FF;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}
.work__content--item:hover{
    border: 8px rgba(13, 109, 199, 0.288) solid ;
    border-radius: 20px;
}
.word__title{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--header-background);
}
.word__title-two{
    color: #575F66;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
    width: 500px;
    
}
.work__content{
    margin-top: 100px;
}
.item__figure .img{
    width: 67.52px;
    height: 67.52px;
    top: 2.23px;
    left: 2.23px;
    gap: 0px;
    opacity: 0px;
}
.item__h4{
    font-family: Sora;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;

}
.work__content--item .tile--p{
    font-family: Sora;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    width: 290px;
    margin-top: 20px;
}
.more .img{
    display: inline-block;
    margin-top: 20px;
    color: blue;
    padding-top: 20px;
}
.container__take{
    margin-top: 200px;
}
.take__list{
    display: flex;
}
.figure__img{
    position: relative;
}
.take__figure-img{
    position: relative;

}
.take--two{
    position: absolute;
    width: 332px;
    height: 370px;
    top: 2665px;
    left: 393px;
    gap: 0px;
    border-radius: 6px 0px 0px 0px;
    opacity: 0px;
    z-index: 1;
}
.take__right{
    margin-left: 90px;
}
.take__right--h2{
    font-family: Sora;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
}
.take__right--p{
    margin: 40px 0;
    font-family: Sora;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
}
.take__more{
    display: inline-block;
    margin-top: 60px;
    color: #F6FBFF;
    width: 205px;
    padding: 20px 40px;
    border-radius: 40px;
    background-color: #10375C;
    transition: 0.25s;
    text-align: center;
}
.take__more:hover{
    background-color: black;
    transition: 0.25s;
}
/* out team */
.section__heading{
    font-family: Sora;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;
}
.team .container{
    margin-top: 100px;
}
.team__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.team__content{
    display: block;
}
.team__header .team__cta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin-top: 29px;
    margin-bottom: 20px;
    width: 200px;
    height: 80px;
    background-color: rgb(255, 245, 103);
    border: 10px solid ;
    border-radius: 40px;
}
.team__header .team__cta:hover{
    background-color: #2E80CE;
    color: #EFF6FD;
    border: 10px solid red;
}
.team__item--img{
    display: block;
}
/*  */
.team-item__thub{
    display: inline-block;
    background-color: rgb(141, 192, 253);
    border-radius: 20px;
}
.team-item__name{
    margin-top: 60px;
    height: 28px;
    top: 4133px;
    left: 802px;
    gap: 0px;
    opacity: 0px;
    font-family: Sora;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
.team-item__desc{
    text-align: center;
    font-family: Sora;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}
.control{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}
.vector__img{
    width: 36px;
    height: 36px;
    top: 4225px;
    left: 729px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color:white;
    border: 1px solid black;
    padding:10px;
    border-radius: 50%;
    transition: 0.25s;
}
.vector__img:hover{
    width: 36px;
    height: 36px;
    top: 4225px;
    left: 729px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color:#2E80CE;
    padding:10px;
    border-radius: 50%;
    transition: 0.25s;
    color: white;
}
.vector__img--two{
    transform: rotate(180deg);
}
/* code phần take back */
.take{
    margin-top: 80px;
    padding-top: 100px;
}
.take-back{
    background-color: #2E80CE;
    min-height: 427px;
    position: relative;
}
.take-black__two{
    display: flex;
    justify-content: center;
    align-items: center;
}
.take-black__img{
    position: absolute;
    margin-top: -270px;
    text-align: left;
}
.take-black__right--h1{
    text-align: right;
}
.take-black__right{
   text-align: right;
   margin-left: 900px;
}
.take-back__right--h1{
    font-family: Sora;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
    width: 500px;
    margin-top: 80px;
    margin-left: 550px;
}
.take-back__right--p{
    width: 400px;
    margin-left: 550px;
    text-align: left;
    font-family: Sora;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    width: 586px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.bottom-back__right--two{
    display: flex;
    margin-top: 20px;
    margin-left: 550px;
    gap: 40px;
}